<div id="editor" class="mt-1 min-h-[300px] bg-white border border-gray-300 rounded-md p-4 focus:border-blue-500 focus:ring-blue-500">
    {{ content|raw }}
</div>
<textarea id="content" name="content" class="hidden">{{ content }}</textarea>